header nav {
  display: flex;
  gap: 16px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.App-header {
  border-bottom: 1px solid lightgray;
}

.name-link {
  text-decoration: none;
  margin: 0 1rem;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.nav-links:hover {
  color: #60a5fa;
}

.nav-meteo,
header nav {
  background-color: #fff;
}

@media only screen and (max-width: 740px) {
  header nav {
    gap: 0;
  }

  /* App-logo */
  .name-link.flex.items-center.justify-center {
    display: none;
  }

  .nav-links {
    font-size: small;
    width: 80px;
  }
}
